// mobile & large breakpoints

// VARIABLES
$xs-left-gutter:     10px;
$xs-right-gutter:    10px;

$lg-left-gutter:     .1fr;
$lg-right-gutter:    .1fr;

$break-md:           768px;   // écran tablet
$break-lg:           992px;   // desktop
$break-xl:           1200px;  // écran large
$break-xxl:          1440px;  // écran large

//  FONTS
$font-unit:          1rem;    // 1rem = 16px
$line-height-unit:   $font-unit;

//$font-family:        'Verdana', 'Arial', sans-serif;
//$font-size:          $font-unit;
$font-style:         normal;
$font-variant:       normal;
$font-weight:        normal;
$font-stretch:       normal;
