// mobile & large breakpoints

// VARIABLES
$xs-left-gutter:     10px;
$xs-right-gutter:    10px;

$lg-left-gutter:     .1fr;
$lg-right-gutter:    .1fr;

$break-md:           768px;   // écran tablet
$break-lg:           992px;   // desktop
$break-xl:           1200px;  // écran large
$break-xxl:          1440px;  // écran large
