// ON GRIDE

.container {
  display: grid;
  grid-template-columns: [left-gutter] $xs-left-gutter [body] 1fr [right-gutter] $xs-right-gutter; // body = main + aside
  grid-template-rows: [header] auto [main] auto [aside] auto [footer] auto;

  @media (min-width: $break-lg) {
  grid-template-columns: [left-gutter] $lg-left-gutter [main] 4fr [aside] 3fr [right-gutter] $lg-right-gutter;
  grid-template-rows: [header] auto [body] 1fr [footer] 1fr;
  }
}

.header {
  grid-column: body / right-gutter;
  grid-row: header;

  @media (min-width: $break-lg) {
    grid-column: main / right-gutter;
  }
}

.main {
  grid-column: body;
  grid-row: main;


  @media (min-width: $break-lg) {
    grid-column: main;
    grid-row: body;
  }
}

.aside {
  grid-column: body;
  grid-row: aside;

  @media (min-width: $break-lg) {
    grid-column: aside;
    grid-row: body;
    //display: flex;  // on flex toutes les divs
    //flex-flow: row wrap;
    //justify-content: space-around;
  }
}

.footer {
  grid-column: body/right-gutter;
  grid-row: footer;

  @media (min-width: $break-lg) {
  grid-column: main / right-gutter;
  }
}


// grid pour aside-grid

.aside-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: space-around;

    @media (min-width: $break-md) {
      grid-template-columns: repeat(2, auto);
    }

    @media (min-width: $break-lg) {
      grid-template-columns: repeat(1, auto);
    }

    @media (min-width: $break-xl) {
      grid-template-columns:  repeat(2, auto);

      @media (min-width: $break-xxl) {
        grid-template-columns:  repeat(3, auto);
      }

    }
  }

.widget {
  padding: 10px;
}
